header {
  background-image: url(../../images/backgrounds/background.jpg);
  background-repeat: repeat-y;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'KoHo', sans-serif; }
  header .left_header, header .sign {
    padding-top: 20px; }
    header .left_header nav ul, header .sign nav ul {
      margin: 0;
      list-style: none; }
      header .left_header nav ul .menu_links, header .sign nav ul .menu_links {
        display: inline-block; }
        header .left_header nav ul .menu_links a, header .sign nav ul .menu_links a {
          color: #FFECE8;
          font-size: 20px;
          font-weight: 500;
          position: relative;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          overflow: hidden;
          display: inline-block;
          padding: 5px 15px 5px 15px; }
          header .left_header nav ul .menu_links a:before, header .sign nav ul .menu_links a:before {
            content: '';
            position: absolute;
            background: #FFECE8;
            height: 100%;
            width: 1.5px;
            top: -100px;
            left: 0px;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out; }
          header .left_header nav ul .menu_links a:after, header .sign nav ul .menu_links a:after {
            content: '';
            position: absolute;
            background: #FFECE8;
            height: 1.5px;
            width: 100%;
            bottom: 0;
            left: -100px;
            -webkit-transition: .7s ease-in-out;
            transition: .7s ease-in-out; }
          header .left_header nav ul .menu_links a:hover:before, header .sign nav ul .menu_links a:hover:before {
            top: 0; }
          header .left_header nav ul .menu_links a:hover:after, header .sign nav ul .menu_links a:hover:after {
            left: 0; }
        header .left_header nav ul .menu_links:nth-child(2) a:before, header .sign nav ul .menu_links:nth-child(2) a:before {
          left: 0px; }
  header .logo {
    text-align: center; }
    header .logo .logo_img {
      display: inline-block;
      -webkit-transform: translateY(-26px);
          -ms-transform: translateY(-26px);
              transform: translateY(-26px); }
      header .logo .logo_img img {
        width: 70px;
        height: 50px; }
    header .logo .logo_text {
      display: inline-block; }
      header .logo .logo_text p, header .logo .logo_text span {
        display: inline-block;
        color: #fff;
        font-size: 31px;
        margin: 0;
        -webkit-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
                transform: translateX(-30px); }
      header .logo .logo_text span {
        font-size: 15px;
        -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
                transform: translateY(-6px); }
  header .sign nav ul {
    padding: 0;
    margin: 0; }
    header .sign nav ul .menu_links {
      display: inline-block;
      margin-right: 5px; }
      header .sign nav ul .menu_links a {
        padding: 5;
        font-size: 18px;
        color: #FFECE8; }
        header .sign nav ul .menu_links a:before {
          left: 0px; }
        header .sign nav ul .menu_links a:after {
          left: -300px; }
      header .sign nav ul .menu_links:nth-child(2) a:before {
        left: 0px; }

#profile {
  width: 350px;
  display: block;
  position: fixed;
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
  background-image: -webkit-gradient(linear, left top, right top, from(#9a2550), color-stop(#b1628b), color-stop(#c398bc), color-stop(#dacce3), to(#ffffff));
  background-image: linear-gradient(to right, #9a2550, #b1628b, #c398bc, #dacce3, #ffffff);
  color: #fbe9d2;
  float: left;
  left: 0;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  #profile.sticked {
    height: 100vh;
    top: 0; }
  #profile.active {
    left: -310px; }
  #profile .wrapper {
    position: absolute;
    padding-top: 20px;
    width: 100%;
    height: 100%; }
    #profile .wrapper .profile_img {
      text-align: center; }
      #profile .wrapper .profile_img .profile_img_round {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 120px;
        height: 120px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        #profile .wrapper .profile_img .profile_img_round img {
          display: block;
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0; }
      #profile .wrapper .profile_img p {
        margin: 0;
        display: block;
        font-size: 18px;
        color: #fbe9d2;
        font-family: 'KoHo', sans-serif; }
    #profile .wrapper .settings nav {
      margin-top: 20px; }
      #profile .wrapper .settings nav ul {
        list-style: none; }
        #profile .wrapper .settings nav ul li {
          margin-bottom: 17px;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          position: relative;
          overflow: hidden;
          padding-left: 7px;
          display: block;
          width: 150px; }
          #profile .wrapper .settings nav ul li:before {
            content: '';
            position: absolute;
            top: -30px;
            left: 0px;
            width: 1px;
            height: 100%;
            background: #fbe9d2;
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out; }
          #profile .wrapper .settings nav ul li:after {
            content: '';
            position: absolute;
            left: -300px;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #fbe9d2;
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out; }
          #profile .wrapper .settings nav ul li a {
            font-size: 16px;
            font-family: 'KoHo', sans-serif;
            color: #fbe9d2;
            font-weight: 500; }
          #profile .wrapper .settings nav ul li:hover {
            -webkit-transform: translateX(2px);
                -ms-transform: translateX(2px);
                    transform: translateX(2px); }
            #profile .wrapper .settings nav ul li:hover:before {
              top: 0; }
            #profile .wrapper .settings nav ul li:hover:after {
              left: 0; }
    #profile .wrapper .settings span {
      padding-left: 48px;
      font-size: 18px;
      color: #fbe1a2; }
    #profile .wrapper .arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(180deg);
          -ms-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg);
      right: 5px;
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
      cursor: pointer; }
      #profile .wrapper .arrow.active {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
        margin-top: -10px; }

#main_content {
  float: right;
  width: 1155px;
  display: block;
  text-align: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  #main_content.active {
    width: 1460px; }
  #main_content .main_content_wrapper .title {
    color: #072047;
    font-size: 30px;
    font-family: 'KoHo', sans-serif;
    padding-top: 30px; }
  #main_content .main_content_wrapper .creating_event_text {
    width: 990px;
    margin: 0 auto;
    margin-bottom: 25px; }
    #main_content .main_content_wrapper .creating_event_text span {
      text-align: left;
      display: block;
      margin-bottom: 7px;
      font-size: 18px;
      color: #aaa;
      font-family: 'KoHo', sans-serif; }
    #main_content .main_content_wrapper .creating_event_text textarea {
      width: 990px;
      padding: 15px;
      font-size: 16px;
      font-family: 'KoHo', sans-serif;
      color: #0d1e56;
      outline: none;
      border: 1.5px solid #ddd;
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
      #main_content .main_content_wrapper .creating_event_text textarea:focus {
        -webkit-border-radius: 15px;
                border-radius: 15px;
        background: #eee; }
  #main_content .main_content_wrapper .creating_event .creating_event_decr:nth-child(4) input::-webkit-input-placeholder {
    font-size: 14px; }
  #main_content .main_content_wrapper .creating_event .creating_event_decr, #main_content .main_content_wrapper .creating_event_second .creating_event_decr {
    text-align: center;
    display: inline-block;
    margin-bottom: 35px; }
    #main_content .main_content_wrapper .creating_event .creating_event_decr span, #main_content .main_content_wrapper .creating_event_second .creating_event_decr span {
      text-align: left;
      display: block;
      margin-bottom: 7px;
      font-size: 18px;
      color: #aaa;
      font-family: 'KoHo', sans-serif; }
    #main_content .main_content_wrapper .creating_event .creating_event_decr input, #main_content .main_content_wrapper .creating_event_second .creating_event_decr input {
      outline: 0;
      width: 400px;
      height: 40px;
      padding: 15px;
      font-size: 16px;
      font-family: 'KoHo', sans-serif;
      color: #0d1e56;
      outline: none;
      border: 1.5px solid #ddd;
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
      #main_content .main_content_wrapper .creating_event .creating_event_decr input:focus, #main_content .main_content_wrapper .creating_event_second .creating_event_decr input:focus {
        -webkit-border-radius: 10px;
                border-radius: 10px;
        background: #eee; }
  #main_content .main_content_wrapper .creating_event_second .creating_event_decr:nth-child(2) input::-webkit-input-placeholder {
    font-size: 11px; }
  #main_content .main_content_wrapper .creating_event_second .creating_event_decr:nth-child(3) input::-webkit-input-placeholder {
    font-size: 14px; }
  #main_content .main_content_wrapper .creating_event_second .creating_event_decr:nth-child(5) input::-webkit-input-placeholder {
    font-size: 14px; }
  #main_content .main_content_wrapper .creating_event_file {
    text-align: left;
    display: inline-block;
    margin-bottom: 35px; }
    #main_content .main_content_wrapper .creating_event_file span {
      text-align: left;
      display: inline-block;
      margin-bottom: 7px;
      font-size: 18px;
      color: #aaa;
      font-family: 'KoHo', sans-serif; }
    #main_content .main_content_wrapper .creating_event_file .file_input {
      position: relative; }
      #main_content .main_content_wrapper .creating_event_file .file_input input {
        display: block;
        outline: 0;
        width: 400px;
        height: 40px;
        padding: 15px;
        font-size: 16px;
        font-family: 'KoHo', sans-serif;
        color: #0d1e56;
        outline: none;
        border: 1.5px solid #ddd;
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out; }
        #main_content .main_content_wrapper .creating_event_file .file_input input:focus {
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          background: #eee; }
      #main_content .main_content_wrapper .creating_event_file .file_input img {
        right: 15px;
        top: 5px;
        position: absolute;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-left: 10px; }
  #main_content .main_content_wrapper .create_event_button {
    display: block;
    margin: 0 auto;
    background: transparent;
    padding: 6px 30px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    border: 1px solid #eee;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: relative;
    overflow: hidden;
    outline: none;
    margin-bottom: 30px; }
    #main_content .main_content_wrapper .create_event_button img {
      position: relative;
      z-index: 50;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
              transform: translateY(-3px); }
    #main_content .main_content_wrapper .create_event_button p {
      position: relative;
      z-index: 50;
      display: inline-block;
      font-family: 'KoHo', sans-serif;
      font-size: 20px;
      color: #aaa;
      margin: 0;
      -webkit-transition: .6s ease-in-out;
      transition: .6s ease-in-out; }
    #main_content .main_content_wrapper .create_event_button:before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: unset;
      left: 0;
      width: 100%;
      height: 2px;
      background: #aaa;
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out; }
    #main_content .main_content_wrapper .create_event_button:after {
      content: '';
      position: absolute;
      width: 105%;
      height: 105%;
      top: -100px;
      left: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#135179), color-stop(#424c89), color-stop(#763e85), color-stop(#a1246a), to(#b7103e));
      background-image: linear-gradient(to bottom, #135179, #424c89, #763e85, #a1246a, #b7103e);
      -webkit-transition: .9s ease-in-out;
      transition: .9s ease-in-out; }
    #main_content .main_content_wrapper .create_event_button:hover:before {
      top: 100%;
      bottom: 0;
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out; }
    #main_content .main_content_wrapper .create_event_button:hover:after {
      top: 0;
      -webkit-transition: .9s ease-in-out;
      transition: .9s ease-in-out; }
    #main_content .main_content_wrapper .create_event_button:hover p {
      color: #fbe9d2; }
